<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{assetPath 'styles/home.css'}}">
  <link rel="shortcut icon" href="{{assetPath 'favicon.ico'}}" type="image/x-icon">
  <link rel="icon" href="{{assetPath 'favicon.ico'}}" type="image/x-icon">
</head>
<body>
  <h1>{{header}}</h1>
  MEsa 
  <img src="{{assetPath 'img/bg.jpg'}}" alt="Example Image">
  <script src="{{assetPath 'home.bundle.js'}}"></script>
</body>
</html>
